@import url('https://fonts.googleapis.com/css?family=Cinzel|Quicksand|Raleway');
*{
    box-sizing: border-box;
}
#bio-contener p::first-letter {
    /*color: #ff0000;*/
    font-size: xx-large;
}
body{
  font-family: 'Cinzel', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  position: relative;
  z-index: -20;
  background-color: black;
}
#root{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}
.App {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: black;
  color: white;
  width: 100%;
  z-index: 100;
  
}
.App-title {
  font-size: 3em;
  font-weight: 100;
  margin: 0;
  letter-spacing: 8px;
}
.App-subtitle{
  color: white;
  margin: 0;
  font-weight: 100;
  letter-spacing: 18px;
}
.App-intro {
  font-size: large;
}

#tlo{
    width: 100%;
    margin-top: 15%;
}
#top-bar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    z-index: 100;
    transition: top 0.3s;
    display:  flex;
    flex-wrap: wrap;
    /* float:  left; */
    /* padding: 10px 0; */
}
#myHeader{
    position: fixed;
    top: 96px;
    z-index: 100;
    transition: top 0.3s; 
}


nav{
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.menu-item{
    border: none;
    background-color: transparent;
    font-family: 'Cinzel';
    outline: none;
    
    margin: 20px 2%;
    text-transform:uppercase;
    font-size: 15px;
    color: white;
    font-family: 'Raleway';
    text-align: left;
}
.menu-item:hover{
    font-weight: bold;
    
}
.menu-item:active{
    font-weight:100;
}
aside{
    background-color: rgba(169, 169, 169, 0.55);
    filter: alpha(opacity=50);
    /*
    position: fixed;
    bottom:10%;
   */
}
.aside-kon{
    position: absolute;
    bottom:10%;
}
.next-contener{
    margin: 15px 30%;
    /* border-bottom: solid 1px black; */
}
.kon-title{
    margin:3px 50px;
}
aside h3{
    text-transform: uppercase;
    font-weight: 100;
    font-size: 24px;
    margin: 0;
    padding: 5px;
}
.next-item{
    display: flex;
    justify-content: center;
    margin: 10px 50px;
}
/*****************arrow up*************/
i {
    border: solid #ffffff;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 8px;
    /* margin-top: 10px; */
    /* align-self: baseline; */
}
.up {
    transform: rotate(-135deg);
    /* -webkit-transform: rotate(-135deg); */
}
#to-top{
     /* Hidden by default */
     position: fixed; /* Fixed/sticky position */
     bottom: -40px; /* Place the button at the bottom of the page */
     /* Place the button 30px from the right */
     z-index: 99; /* Make sure it does not overlap */
     width:  100%;
     background-color: #000000;
     height: 48px;
     align-content: center;
     /* display:  flex; */
     /* margin:  auto; */
     /* justify-content:  center; */
     padding: 18px 0;
     transition: bottom 0.3s;
}
/***********kalendrz************/
.next-title{
    font-size: 24px;
    border-bottom: solid 1px black;
}
.next-band{

}
.next-date{

}
.next-place{

}
hr{
    margin: 0px 30px;
}
#bio-title p{
    
    color: white;
    
}
#bio-text{
background-color: #0a0a0ace; 
}
#bio-contener{
    width: 50%;
    margin: auto;
    font-family: 'Relaway';
    line-height: 28px;
    color: white;
    padding-bottom: 40px;
}
.next-absolute{
    position: absolute;
    background-color: azure;
}
.sticky {
    position: sticky;
    /*
    top: 0;
    width: 100%;
    z-index: 100;
    */
  }
.nav{
    position: sticky;
    background-color: black;
    display: flex;
}
.article-title{
    padding: 30px 0;
}
.article-title p{
    text-transform: uppercase;
    font-size: 2em;
}
#kalendarz{
    background-color: white;
    /* padding:  10px 0; */
    padding-bottom: 10px;
    min-height: 100vh;
}
#kal-title p{
  
    color: #0a0a0a;
    
}
#kontakt{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: white;
}
.kont{
    color: black;
    width: 100%;
}
.email{
    font-family: 'Raleway';
    text-transform: lowercase;
}
.media{
    color: white;
}
.media-video{
    margin: 50px auto;
    /* height: 80vh; */
    justify-content: center;
}

/****************menu buttton**************************/


/*********************media query*************************/

@media (min-width: 224px){
    #top-bar{
        padding: 3% 0;
        /*border-bottom: #a70901 solid 1px;*/
        /* box-shadow: 0px -1px 5px 3px #0000008a; */
        /* background-color: #8a8989; */
    }
    #tlo{
      margin-top:15%;
    }
    .App-title{
        font-size: 22px;
    }
    .App-subtitle{
      font-size:0.5em;
    }
    #mobileMenuButton{
        display: flex;
        width: 15%;
        /* margin: auto; */
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        padding:  0 5px;
    }
    .burger{
        width: 30px;
        height: 1px;
        background-color: white;
        margin: 4px 0;
        /* justify-self: center; */
    }
    .header-contener{
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        width: 85%;
        justify-content: center;
        /* padding: 8px 0; */
    }
    #bio-contener{
        width: 80%;
    }
    .bio-text{
        margin: 20px 0;
        line-height: 31px;
        font-size: 16px;
        text-align: justify;
        font-family: 'Raleway';
    }
    #main{
        /*
        background-image: url(tlo01.jpg);
        */
        background-size: 150%;
        background-position: center top;
        background-repeat: no-repeat;
        background-color: #000;
    }
    .video{
        width:320px;
        height:180px;
    }
    #next-kon{
        display: none;
    }
    .menu-item{
        display: block;
        width:  100%;
        text-align:  center;
        /* height: 10px; */
        position:  relative;
    }
    .article-title{
      padding: 10px 0;
    }
    .article-title p{
      padding: 0;
      margin: 0;

    }
    
    .next-item{
      margin: 0px;
    }
    .next-contener{
      margin: 51px 10%;
    }
    #myHeader{
        height: 100vh; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1000; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #000000f0; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
        /* display:  flex; */
        padding: 30px 0px;
    }
}
@media (min-width: 425px) {
    #main{
        background-image: url(tlo01.jpg);
        background-size: 150%;
        background-position: center top;
        background-repeat: no-repeat;
        background-color: #000;
    }
    .App-title{
        font-size: 33px;
    }
    .App-subtitle{
      font-size:14px;
      
    }
    #bio-text{
        /*margin-top:calc(100vh - 170px);*/
        min-height:  100vh;
    }
    #mobileMenuButton{
        display: flex;
        width: 15%;
        flex-wrap: wrap;
        padding: 0 4%;
    }
    .header-contener{
        width: 85%;
    }
    
}
@media (min-width: 768px){
    #main {
        background-image: url(tlo01.jpg);
        background-size: 100%;
        background-position: center top;
    }
    #tlo{
      margin-top:10%
    }
    #top-bar{
        padding: 0;
    }
    #bio-contener{
        width: 50%;
    }
    .bio-text{
        margin: 30px 0;
        line-height: 33px;
    }
    .App-title{
        font-size: 3.5em;
    }
    .App-subtitle{
      font-size:1em
      
    }
    #mobileMenuButton{
        display:none;
        width:15%;
    }
    #myHeader{
        position: fixed;
        top: 96px;
        z-index: 100;
        transition: top 0.3s;
        height: 75px;
        width: 100%;
        padding: 0px;
        display:  flex;
        flex-wrap: wrap;
        justify-content:  center;
        /* align-self: center; */
        background-color: #000;
    }
    #close-menu{
        display: none;
    }
    
    
    nav{
        
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        
    }
    .header-contener{
        width: 100%;
        display: block;
    }
    .video{
        background-color: aqua;
        width:560px;
        height: 315px;
    }
    #next-kon{
        display: block;
    }
    .menu-item{
        display: block;
        width: 10%;
        margin: 0;
        /* align-self: center; */
        /* text-align:  center; */
    }
    .article-title{
      padding: 30px 0;
    }
    .article-title p{
      margin-top: 50px;
    }
    .next-item{
      /* margin: 10px 20%; */
    }
    .next-contener{
      margin: 50px 25%;
    }
}
    
@media (min-width: 1024px){
    #main {
        background-image: url(tlo01.jpg);
        background-size: 100%;
        background-position: center top;
        background-color: #000;
        background-repeat: no-repeat;
    }
}